<!doctype html>
<html>
	<head>
		<title>Whist</title>

		<link rel="stylesheet" href="bootstrap.css">
		<link rel="stylesheet" href="style.css">

		<script type="text/javascript" src="lib/socket.io.js"></script>
		<script type="text/javascript" src="lib/jquery.js"></script>
		<script type="text/javascript" src="lib/underscore.js"></script>
		<script type="text/javascript" src="lib/backbone.js"></script>
		<script type="text/javascript" src="lib/bootstrap-modal.js"></script>		
		<script type="text/javascript" src="client.js"></script>
	</head>
	<body>
		<div id="auth" class="modal hide">
			<div class="modal-header">
				<h3>Join Game</h3>
			</div>
			<div class="modal-body">
				<h4>New player</h4>
					<input type="text" id="auth-new-user" placeholder="Name"></input>
					<input type="text" id="auth-new-pass" placeholder="Create a short password"></input>
					<a class="btn btn-success" href="#" id="auth-new-submit">Join</a>
				<h4>Existing player</h4>
					<input type="text" id="auth-user" placeholder="Name"></input>
					<input type="text" id="auth-pass" placeholder="Password"></input>
					<a class="btn btn-success" href="#" id="auth-submit">Join</a>
			</div>
		</div>
		<div id="round" class="alert alert-success" style="display:none"></div>
		<div id="trumps-alert" class="alert alert-error" style="display:none"></div>
		<div id="turn" class="alert alert-info" style="display:none">It is your turn</div>
		<div id="state"></div>
		<div id="trumps" class="well" style="display:none">
			<h4>Pick Trumps:</h4>
			<img id="C" src="cards/1.png">
			<img id="S" src="cards/2.png">
			<img id="H" src="cards/3.png">
			<img id="D" src="cards/4.png">
		</div>
		<h4> Table </h4>
		<div id="table" class="well cards"></div>
		<div class="well" id="place_bid">
			<h4>Place bid</h4>
			<input type="button" class="btn btn-large" value="0"></input>
			<input type="button" class="btn btn-large" value="1"></input>
			<input type="button" class="btn btn-large" value="2"></input>
			<input type="button" class="btn btn-large" value="3"></input>
			<input type="button" class="btn btn-large" value="4"></input>
			<input type="button" class="btn btn-large" value="5"></input>
			<input type="button" class="btn btn-large" value="6"></input>
			<input type="button" class="btn btn-large" value="7"></input>
			<input type="button" class="btn btn-large" value="8"></input>
			<input type="button" class="btn btn-large" value="9"></input>
			<input type="button" class="btn btn-large" value="10"></input>
			<input type="button" class="btn btn-large" value="11"></input>
			<input type="button" class="btn btn-large" value="12"></input>
			<input type="button" class="btn btn-large" value="13"></input>
			</div>
		<h4> Hand </h4>
		<div id="hand" class="well cards"></div>
		<div id="bids"></div>
		<script type="text/html" id="state_template">
			<table class="table table-striped">
				<tbody>
					<tr>
						<td>Players</td>
						<td>Tricks</td>
						<td>Score</td>
						<td></td>
					</tr>
					<% for (var i = 0; i < players.length; i++) { %>
					<tr>
						<td> <%- players[i].playerID %> </td>
						<td> <%- players[i].tricks %> </td>
						<td> <%- players[i].score %> </td>
						<td> 
							<% if (players[i].turn) { %> 
								<span class="badge badge-info">turn</span> 
							<% } %> 
						</td>
					</tr>
					<% } %>
				</tbody>
			</table>
		</script>
		<script type="text/html" id="bids_template">
			<table class="table table-striped">
				<thead>
					<th>
						<th></th>
						<% for (var i = 0; i < players.length; i++) { %>
							<td> <strong><%- players[i] %></strong> </td><td></td>
						<% } %>
					</th>
				</thead>
				<tbody>
					<tr>
						<td></td>
						<% for (var i = 0; i < players.length; i++) { %>
							<td> Bid </td> <td> Score </td>
						<% } %>
					</tr>
					<% for (var i = 0; i < data.length; i++) { %>
					<tr>
						<td>Round <%= i+1 %> </td>
						<% _.each(data[i], function(obj) { %>
							<td>
							<% if (obj.bid) {%>
								<%- obj.bid %>
							<% } %>
							</td>
							<td>
							<% if (obj.value) {%>
								<%- obj.value %>
							<% } %>
							</td>
						<% }); %>
					</tr>
					<% } %>
				</tbody>
			</table>
		</script>
	</body>
</html>